@import 'tailwindcss';
@plugin "daisyui" {
	themes: light --default;
}
body {
	@apply bg-gray-100;
	font-family: 'Roboto';
}

input#noArrow::-webkit-outer-spin-button,
input#noArrow::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number']#noArrow {
	-moz-appearance: textfield; /* Firefox */
}
